<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>WEBGL BIG-MODEL UPLOADER DEMO</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <style>body { margin: 0px; overflow: hidden; }</style>
</head>

<body>

    <div id="build.version" style="visibility: hidden; display: none;"><%=version%></div>

    <div id="web.container"></div>
    <div id="ui-div" style="position: absolute;top: 20px;left: 20px;z-index: 100"></div>

    <script type="text/javascript" src="/zip-lib/zip.js"></script>

    <script src="libs/libs.js"></script>
    <script src="app/app.js"></script>
</body>

</html>